trigger: none

pool: TerraPulse agent

stages:
  - stage: linting
    displayName: linting_stage
    jobs:
      - job: linting
        displayName: linting_superlinter
        steps:
        - task: CmdLine@2
          inputs:
            script: |
              curl -o python.exe https://www.python.org/ftp/python/3.10.11/python-3.10.11-amd64.exe
              python.exe /quiet InstallAllUsers=1 PrependPath=1 Include_test=0
              python --version
  # - stage: 2nd_stage
  #   displayName: 3rd_stage
  # - stage: 3rd_stage
  #   displayName: 3rd_stage