trigger: none

pool: TerraPulse agent

stages:
  - stage: linting
    displayName: linting_stage
    jobs:
      - job: linting
        displayName: linting_superlinter
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              docker pull ghcr.io/super-linter/super-linter:latest
                  docker run --rm \
                    -e RUN_LOCAL=true \
                    -e DEFAULT_BRANCH=main \
                    -e VALIDATE_ALL_CODEBASE=false \
                    -e VALIDATE_TERRAFORM=true \
                    -e VALIDATE_YAML=true \
                    -e VALIDATE_DOCKERFILE=true \
                    -e VALIDATE_JSON=true \
                    -e LOG_LEVEL=INFO \
                    -v $(System.DefaultWorkingDirectory):/tmp/lint \
                    ghcr.io/super-linter/super-linter:latest
                displayName: 'Run Super Linter using Docker'
  # - stage: 2nd_stage
  #   displayName: 3rd_stage
  # - stage: 3rd_stage
  #   displayName: 3rd_stage