trigger: none

pool: TerraPulse agent

variables: 
  - group: todobackend


stages:
  - stage: linting
    displayName: linting_stage
    jobs:
      - job: linting
        displayName: linting_pylint
        steps:
        - task: CmdLine@2
          displayName: 'Install Pylint'
          inputs:
            script: |
              python -m pip install --upgrade pip
              python -m pip install pylint
        - task: CmdLine@2
          displayName: 'Run Pylint'
          inputs:
            script: 'python -m pylint .'
          continueOnError: true
  - stage: sastscanning
    displayName: Sast Scanning
    jobs:
      - job: sonarcube
        displayName: Sonarcube scanning
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              npm install -g @sonar/scan
              sonar -D sonar.host.url=http://localhost:9000 -D sonar.token=sqp_4f149552c1b25439ecaecdd9f849c4ff675bc5d6 -D sonar.projectKey=Ajay_sonarqube
  - stage: publish
    displayName: Publish
    jobs:
      - job: publish
        displayName: publish artifects
        steps:
        - task: PublishPipelineArtifact@1
          displayName: Publish Artifects
          env: 
            connection_string: $(connection_string)
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)'
            artifact: 'Pytodobackend'
            publishLocation: 'pipeline'
  - stage: DeploymentToVm
    displayName: Deployment to VM
    jobs:
      - deployment: 
        environment:
          name: BackendVm
          resourceType: VirtualMachine
        strategy:
          runOnce:
            deploy:
              steps:
              - task: DownloadPipelineArtifact@2
                inputs:
                  buildType: 'current'
                  artifactName: 'Pytodobackend'
                  targetPath: '$(System.DefaultWorkingDirectory)'
              - task: Bash@3
                inputs:
                  targetType: 'inline'
                  script: |
                    sudo apt update
                    sudo apt install -y python3-pip python3-venv curl gnupg2 unixodbc unixodbc-dev
                    
                    python3 -m venv myenv
                    source myenv/bin/activate
                    
                    mkdir -p /home/samadmin/backend
                    sudo cp -r $(System.DefaultWorkingDirectory)/* /home/samadmin/backend
                    cd /home/samadmin/backend
                    
                    curl -fsSL https://packages.microsoft.com/keys/microsoft.asc | \
                    sudo gpg --dearmor -o /usr/share/keyrings/microsoft.gpg
                    
                    echo "deb [arch=amd64 signed-by=/usr/share/keyrings/microsoft.gpg] \
                    https://packages.microsoft.com/ubuntu/22.04/prod jammy main" | \
                    sudo tee /etc/apt/sources.list.d/mssql-release.list
                    sudo apt update
                    sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18
                    
                    pip install --upgrade pip
                    pip install -r requirements.txt
                    
                    uvicorn app:app --host 0.0.0.0 --port 8000
