trigger: none

pool: TerraPulse agent

stages:
  - stage: linting
    displayName: linting_stage
    jobs:
      - job: linting
        displayName: linting_superlinter
        steps:
        - task: CmdLine@2
          displayName: 'Install Pylint'
          inputs:
            script: |
              python -m pip install --upgrade pip
              python -m pip install pylint
        - task: CmdLine@2
          displayName: 'Run Pylint'
          inputs:
            script: 'python -m pylint --rcfile=.pylintrc .'
  # - stage: 2nd_stage
  #   displayName: 3rd_stage
  # - stage: 3rd_stage
  #   displayName: 3rd_stage