trigger: none

pool: TerraPulse agent

stages:
  - stage: linting
    displayName: linting_stage
    jobs:
      - job: linting
        displayName: linting_pylint
        steps:
        - task: CmdLine@2
          displayName: 'Install Pylint'
          inputs:
            script: |
              python -m pip install --upgrade pip
              python -m pip install pylint
        - task: CmdLine@2
          displayName: 'Run Pylint'
          inputs:
            script: 'python -m pylint .'
          continueOnError: true
  - stage: sastscanning
    displayName: Sast Scanning
    jobs:
      - job: sonarcube
        displayName: Sonarcube scanning
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              npm install -g @sonar/scan
              sonar -D sonar.host.url=http://localhost:9000 -D sonar.token=sqp_4f149552c1b25439ecaecdd9f849c4ff675bc5d6 -D sonar.projectKey=Ajay_sonarqube

  - stage: publish
    displayName: Publish
    jobs:
      - job: publish
        displayName: publish artifects
        steps:
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)'
            artifact: 'Pytodobackend'
            publishLocation: 'pipeline'