trigger: none

pool: TerraPulse agent

stages:
  - stage: linting
    displayName: linting_stage
    jobs:
      - job: linting
        displayName: linting_superlinter
        steps:
        - task: CmdLine@2
          inputs:
            script: |
              - script: |
                    python -m pip install --upgrade pip
                    pip install pylint
                  displayName: 'Install Pylint'
              - script: |
                  pylint --rcfile=.pylintrc **/*.py
                displayName: 'Run Pylint'
  # - stage: 2nd_stage
  #   displayName: 3rd_stage
  # - stage: 3rd_stage
  #   displayName: 3rd_stage